{% extends 'includes/base.html' %}

<!-- LOADING STATIC FILES -->
{% load static %} {% load static %}

<!-- CONTENT BLOCK -->
{% block content %}
<link rel="stylesheet" href="static/css/accounts/login.css" />
<div class="container">
  <h4 class="text-center">Login Form</h4>
  <form action="">
    <div class="form-group mt-4">
      <label for="email"> Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        name="email"
      />
    </div>
    <div class="form-group mt-4">
      <label for="password"> Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter password"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% endblock %}
