{% extends 'includes/base.html' %}

<!-- INCLUDING STATIC FILES -->
{% load static %}

<!-- BLOCK CONTENT STARTS HERE -->
{% block content %}
<!-- INCLUDING NAVBAR -->
{% include 'includes/navbar.html' %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/buttons/3.2.4/css/buttons.dataTables.css"
/>
<!-- INCLUDING MESSAGES -->
{% include 'includes/messages.html' %}
<div class="container my-5">
  <table class="table table-striped" id="docketTable">
    <thead>
      <tr>
        <th scope="col">Docket ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Whatsapp</th>
        <th scope="col">Problem Facing</th>
        <th scope="col">Assigned To Adviser</th>
        <th scope="col">Status</th>
        <th scope="col">Update Log</th>
      </tr>
    </thead>
    <tbody>
      <!-- LOOPING OVE DOCKETS -->
      {% for docket in dockets %}
        <!-- FETCHING THE UPDATE LOGS FOR THE DOCKET -->
        {% with update_logs=docket.docket_update_log.all %}
          <!-- IF UPDATE LOG IS PRESENT FOR THIS DOCKET THEN -->
            {% if update_logs %}
              <!-- LOOPING OVER THE UPDATE LOGS -->
              {% for update_log in update_logs %}
              <tr class="align-middle text-center">
                <th scope="row"><a href="">{{ docket.docket_id }}</a></th>
                <td>{{ docket.full_name }}</td>
                <td>{{ docket.phone_number }}</td>
                <td>{{ docket.whatsapp_number }}</td>
                <td>{{ docket.problem_facing }}</td>
                <td>{{ docket.assigned_to }}</td>
                <td>{{ docket.status }}</td>
                <td>
                  {{ update_log.updated_at|date:"M d, Y" }} by {{ update_log.updated_by }}
                </td>
              </tr>
              {% endfor %}
              <!-- ENDING OF FOR LOOP -->
            {% else %}
            <!-- IF THERE IS NO UPDATE LOG PRESENT FOR THE DOCKET -->
              <tr class="align-middle text-center">
                <th scope="row"><a href="">{{ docket.docket_id }}</a></th>
                <td>{{ docket.full_name }}</td>
                <td>{{ docket.phone_number }}</td>
                <td>{{ docket.whatsapp_number }}</td>
                <td>{{ docket.problem_facing }}</td>
                <td>{{ docket.assigned_to }}</td>
                <td>{{ docket.status }}</td>
                <td>No updates</td>
              </tr>
            {% endif %}
            <!-- ENDING OF IF STATEMENT -->
          {% endwith %}
          <!-- ENDING OF WITH BLOCK -->
      {% endfor %}
      <!-- ENDING OF FOE LOOP -->
    </tbody>
  </table>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.print.min.js"></script>
<script>
  new DataTable("#docketTable", {
    responsive: true,
    layout: {
      topStart: {
        buttons: [
          "copy",
          "csv",
          "excel",
          "pdf",
          {
            extend: "print",
            text: "Print",
            customize: function (win) {
              // Set A4 landscape print size
              const style = document.createElement("style");
              style.textContent = `
                @page {
                  size: A4 landscape;
                  margin: 1cm;
                }
              `;
              win.document.head.appendChild(style);
            },
          },
        ],
      },
    },
    order: [], // removes default sorting on first column
  });
</script>
<!-- BLOCK CONTENT ENDS HERE -->
{% endblock %}
